@import 'foundation/all';

.name {
  color: blue;
}

.dse-button-container {
  display: flex;
  background-color: $button-primary-background;
  color: $button-primary-color;
  border: none;
  padding: map-get($map: $spacing, $key: 'xxxs');
}